/* Estilização da página */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Centraliza o conteúdo */
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    display: block; 
    list-style-type: none;
    align-items: center; /* Garante que tudo fique centralizado */
    gap: 20px;
    

}

/* Input de e-mail */
.email-input {
    background-color: #4a403b;
    border: none;
    padding: 12px;
    border-radius: 20px;
    width: 280px;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    text-decoration: none;
}

/* Botões */
li a {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}

li {
    margin-top: 10px;
    position: relative;
}
