/* Estilizando a página inteira */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Ajustando a barra lateral */
.sidebar {
    width: 150px; /* Diminuída */
    background: #333;
    color: white;
    padding: 15px;
    height: 100vh;
}

.sidebar img.logo {
    width: 100%;
}

/* Ajuste nos itens do menu lateral */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a img {
    width: 18px;
    margin-right: 8px;
}

/* Área principal */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Cabeçalho com fundo preenchido */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 8px; /* Bordas arredondadas */
    
}

/* Centralizando barra de pesquisa */
.search-container {
    display: flex;
    align-items: center;
    flex: 10;
    justify-content: center;
}

.search-bar {
    padding: 8px;
    width: 250px;
    border-radius: 6px; /* Bordas arredondadas */
    border: 1px solid #ccc;
}

/* Ícone de busca */
.search-icon {
    width: 22px;
    margin: left  2px;
}

/* Informações do usuário */
.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 30px;
    margin-left: 10px;
}

/* Botão Novo */
.btn-novo {
    background: #008cba;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 6px; /* Bordas arredondadas */
}

.btn-novo img {
    width: 20px;
    margin-right: 5px;
}

/* Estilização da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ccc;
    border-radius: 6px; /* Bordas arredondadas */
}

/* Ajuste das células da tabela */
th, td {
    padding: 12px
    text-align left;
}

/* Botão Editar */
.btn-editar {
    background: #ffffff; 
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 6px; /* Bordas arredondadas */
}

.btn-editar img {
    width: 30px;
    margin-right: 5px;
}